{% load i18n %} 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="hld">
        <div class="wrapper">  
            <div class="block small center login">
                <div class="block_head">
                    <div class="bheadl"></div>
                    <div class="bheadr"></div>
                    <h2>{% trans "form.title.search.stock" %}</h2>
                </div>   
                <div class="block_content">
                <form id="frmQuery" action="/stock/query" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <input type="submit" class="submit" value="{% trans "public.str.query" %}">
                </form>
                <br/>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>

